@import url('https://fonts.googleapis.com/css2?family=Asap:wght@100;200;300;400;500;600;700&display=swap');

html {
  font-size: 62.5%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Asap', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #e2daf7d5;
}

:root {
  --primary_01: #18194d;
  --primary_light_a03: rgb(203, 206, 244, 0.3);
  --primary_light_a02: rgb(203, 206, 244, 0.2);
  --primary_light_a005: rgb(203, 206, 244, 0.05);
  --text_default: #e2daf7d5;
  --text_strong: #fff;
  --secondary: #FFD059;
  --img_bg: #ffffff26;

}